<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.contentproviderdemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Animation.RightToLeft">
        <activity
            android:name=".ItemListActivity"
            android:label="@string/title_item_list"
            android:theme="@style/AppTheme.NoActionBar.Animation.RightToLeft">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ItemDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".ItemListActivity"
            android:theme="@style/AppTheme.NoActionBar.Animation.RightToLeft">

        </activity>

        <activity
            android:name=".SendActivity"
            android:label="@string/title_item_send" />
        <activity
            android:name="com.example.animation.BaseActivity"
            android:label="@string/title_item_base" />

        <provider
            android:name="com.example.dict.DictProvider"
            android:authorities="com.example.dict.dictprovider" />
    </application>

</manifest>